*{
    margin: 0;
    padding:0;
    font-family: sans-serif;
}
.header{
min-height: 100vh; /*Den få höjden 100% vyhöjden lementet att vara minst lika högt som webbläsarfönstret.*/
width: 100%; /* */
background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(Webbsidansbilder/Backgroundbild.jpg);
/*Vi lägger till background färgen, vi sätter också in linjär gradient*/
background-position:center; /* Lägger bildet in i elementet*/
background-size: cover;
position: relative;
}
.Logo{
    width: 100px; /* Justera bredden på din logo efter behov */
    height: auto; /* Tillåt att höjden justeras automatiskt för att bevara proportionerna */
    position: absolute; /* Placera logotypen relativt till webbläsarfönstret */
    top: 20px; /* Avstånd från överkanten av webbläsarfönstret */
    left: 20px; 
    z-index: 999;
   
}
.Logo:hover{
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.5);
    transition: 0.1s;  
}
Nav{
    display: flex; /*Det är en egenskap som gör element till en flexcontainer*/
    padding: 2% 6%; /* Det ger padding till top, nedåt, samt övan och nedåt*/   
    justify-content: space-between; /*Utrymmet mellan obejkterna, det ska vara lika mycket*/
    align-items: center;
}
.Nav-options li{
   
    display: inline-block; /*Det här gör att listelemterna visass bredvid varandra i en rad */
    padding: 8px 12px; /* Lägger  till 8 pxilar på toppen och 12 pixlar på vänster*/
    position: relative; /*Det gör att positioneringen av listelementen är relativ till dess normala flöde.
    */
}
.Nav-options li a{
    color: #fff;
    font-size: 20px;
    font-family:sans-serif;
    font-weight: bold;
    text-decoration: none;
}
.Nav-options li a:hover{
    text-decoration: underline;
    transition: 0.1s;  /*Precis när man lägger muspekaren på elementet så ändras färgen till vit*/
}

.title-box{
    text-align: center; /*Centrera class innehållet vågrätt  till mitten*/
    top: 50%;
    left: 50%;
    width: 90%;
    transform: translate(-50%,-50%);  /*Sätta elementet till mitten horisontellt och vertikalt*/
    position: absolute;  /*Placera elementet relativt till webbläsarfönstret*/
}
.title-box h1{
   color: aliceblue;
    font-size: 60px;
    font-weight: bold 
}
.title-box p{
    margin:10px 0; /*Ger marginal på 10 pixlar ovan och nedåt samt 0 pixlar till vänster och höger*/
    font-size: 14px;
    color: aliceblue
}
.Interface-button {
display: inline-block; /*inline-block gör elementet synligt på rad göra att bredden och höjden anpassas */
text-decoration:none;  
color: #fff;
border: 2px solid #fff;  /*En vit kant linje runt om elemntet*/
padding: 12px 34px; /*Den fyller med 12 pixlar för topen och nedåt samt 34 pixlar på vänter och höger.*/
font-size: 20px;
background: transparent; /*Backgrounden färg blir genomskinklig.*/
position: relative;
margin: 10px 0;
/*cursor: pointer;  /*Gör att muspekaren blir som en hand när man har handen över elemntet. */
font-family:sans-serif;
font-weight: bold

}
.Interface-button:hover{
    background: #fff;
    color: #000;
    transition: 0.1s;  /*Precis när man lägger muspekaren på elementet så ändras färgen till vit*/
}

.Offerings
{
    width: 80%;
    margin: auto;
    text-align: center;
   padding-top: 50px;
}
h1{
    font-size: 37px;
    font-weight:600;


}
.offer-subtitle{
    color: black;
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;  /*Hu mycket utryyme mellan textlinjarna*/
    padding: 5px;
}
.line{
    display: flex;  /*Det är en egenskap som gör element till en flexcontainer*/
    justify-content: space-between;  /*Utrymmet mellan obejkterna, det ska vara lika mycket*/
}
.offer{
    flex-basis:20%; /*Det bestämmer det utrymmet som elementet kommer att ta upp längs huvudaxeln.*/
    background: #d3d3d3;
    border-radius: 60px; /*Den ger elementets hörn en rundad form med 60 pixlar.*/
    margin-bottom:5%; 
    margin-top:50px;/* Den ett avstånd på 50 pixlar ovanför elementet.*/
    padding: 20px 15px;
    box-sizing: border-box; /*Elmentet kommer att ha pading och border men inte sin margin*/
}
.offer p{
margin-top: 12.5px;
margin-bottom: 23px;

}
h3{
    text-align: center;
    font-weight: 600;
   
}
.offer:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 2);
}

.Image{
 
    width: 100px;
    height: 100px;
}
/* Contact button*/
.cta{

    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(Webbsidansbilder/Contact-us.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 50px;
    text-align: center;
    padding: 100px 0; /*Den fyller med 100 pixlar för topen och nedåt samt 0 pixlar på vänter och höger.*/
    
}
.btn{
    display: inline-block; /*inline-block gör elementet synligt på rad göra att bredden och höjden anpassas */
    text-decoration:none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 20px;
    background: transparent; /*Bakgrounden blir genomskinklig*/
    position: relative;
    cursor: pointer; 
}
.btn:hover{
    background: #fff;
    color: #000;
    transition: 0.1s; /*Precis när man lägger muspekaren på elementet så ändras färgen till vit med 1 tiodels av sekund*/
}


.About{
    padding: 45px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }
  .About h4{
    font-size: 30px;
    text-align:center;
    position: relative;
    bottom: 25px;

  }
  .About p{
   width: 40% 100%;
   position: relative;
   bottom: 3px;
    
  }

