*{
    margin:0;
    padding:0;
    font-family: "Times New Roman", Times, serif;   /* Det här typen av font kommer gälla alla element i sidan*/
}
.title {
    color: rgb(234, 255, 0); /* Här gav jag färgen gul till första ordet i hemsidans title (Hamza)*/
    font-size: 40px;
 
}
.title2 {
    color: rgb(0, 149, 255); /* Här gav jag färgen blå till första ordet i hemsidans title (Airlines)*/
    font-size: 40px
    
}


.banner{  /*Denna css använde jag för att skapa en backgrunds bild som täcker hela visningsområde*/
width: 100%;
height: 100vh;
background-size: cover;
background-position: center;

}

.undertext { /* Jag skapade denna css-stil en flexibel layout för ett elementet undertext*/
    display: flex; /* flexbilitet*/
    justify-content: space-between; /* Den använde jag för att fördela utrymmet mellan elementen som är inute(undertext) */
    align-items: right; /* Centrerar elementen lodrätt åt höger*/
    margin: auto;
    padding: 35px 0; /*35 pixlar padding över och under innehållet*/
    width: 35%;
    font-size: 25px;
    color: rgb(234, 255, 0); /* Färgen på punkten i elementet*/
    margin-right: 50px;
    position: absolute;
    top: -3%;
    left: 60%;
    transform: translate(0%, 0%);

}

.undertext a {  /* Färgen för elementet */
    color: beige;
 
}



.background-image { /* Jag använde denna css för att skapa en fixerad bakgrundsbild som täcker hela hela sidan och har en sänkt ljusstyrka*/
    position: fixed;
    z-index: -100000; /* Jag använvnde denna för att placera elemntet bakom andra elementen*/
    filter: brightness(50%);
    width: 100%;
   
}
/*.center{
  width: 50px;
  margin: 50px 70px;

}*/
.center h1 /* Här skapade en text som jag ville vara som en citat därför använde stor title storlek*/
{
    
    width: 350px;
    font-size: 55px;
    position: absolute;
    top: 10%; /* Jag vill att det ska vara lite uppe i vänster därför använde dem här måt*/
    left: 3%;
    color:rgb(234, 255, 0);
}
.continent
{
   font-size: 36px;
    margin: 20px;
    color:rgb(234, 255, 0);
    
}







